<!DOCTYPE html>
<html>
<head>
  <title>首页</title>
</head>
<body>
<h1>学生列表</h1>
<ul>
{%for student in students%}
<li>
  <a href="{%url 'index_page' student.id %}">
    {{student.sname}}
  </a>
</li>
{%endfor%}
</ul>
</body>
</html>